@font-face {
	font-family: 'Rubik';
	src: url('font.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	background-attachment:fixed;
	background-origin:inital;
	background-repeat:no repeat;
    background-image: linear-gradient(to right, #330a33, #7f006e);
	font-family: "Rubik";
	font-size: 20px;
}

h1 {
	font-size:35px;
	color: white;
}

h2 {
	font-size: 25px;
	color: white;
}

p {
	margin: 0;
	font-size:20px;
	color: white;
}

div {
    text-align: center; 
	padding-bottom: 20px;
   }

a {
	padding-right: 5px;
	display: inline-block;
}

a:link {
	color: #fa00ff;
}

a:visited {
	color: #fa00ff;
}

a:hover {
	color: #ffff;
	transition-duration: 0.3s;
}

footer {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(80, 0, 53, 0.5);
	max-width: 320px;
	min-width: 87px;
	border-radius: 20px;
	border-style: solid;
	border-color: rgb(180, 0, 156);
}

.httpcat {
	width: 100%;
	max-width: 400px;
	height: auto;
	border-radius: 20px;
	padding-top: 10px;
}