:root {
	font-size: 20px;
}

@media (max-width: 570px) {
	.lang {
		opacity: 50%;
	}

	.lang:hover {
		opacity: 100%;
	}
}

@font-face {
	font-family: Rubik;
	src: url(fonts/rubik.woff2);
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(fonts/material.woff2) format('woff2');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 32px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;

	position: relative;
	bottom: -7px;
	color: white;
}

body {
	font-family: Rubik;
	background-color: rgb(25, 0, 34);
}

.description, .links, .footer, .notfound {
	display: block;
	margin: 0px auto 20px auto;
	padding: 0px 20px 20px 20px;
	border: 4px dashed rgba(180, 0, 156);
	background-color: rgba(103, 0, 138, 0.3);
	border-radius: 20px;
	max-width: 400px;
	min-width: 87px;
	transition-duration: 0.5s;
}

.description:hover, .links:hover, .footer:hover, .notfound:hover {
	border: 4px dashed rgb(128, 0, 156);
	background-color: rgba(79, 0, 105, 0.3);
}

.interests {
	margin: 10px 0 0 0;
}

.footer {
	padding: 20px;
}

.notfound {
	width: 100%;
	max-width: 400px;
	height: auto;
	margin-top: 20px;
}

h1 {
	font-size: 30px;
	color: white;
}

p {
	margin: 0;
	color: white;
}

a, a:link, a:visited {
	padding-right: 5px;
	display: inline-block;
	color: rgb(255, 0, 221);
	transition-duration: 0.5s;
}

a:hover {
	color: #ffff;
}

.lang {
	position: fixed;
	right: 5px;
	top: 5px;
	width: 54px;
	height: 54px;
	transition-duration: 0.5s;
}

.lang:hover {
	width: 50px;
	height: 50px;
}