@font-face {
	font-family: 'Rubik';
	src: url('Rubik-Regular.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	font-size: 20px;
    background-image: linear-gradient(to right, #330a33, #7f006e);
	font-family: "Rubik";
}

h1 {
	font-size:35px;
	color: white;
}

p {
	font-size:20px;
	color: white;
}

div {
    text-align: center;   
   }
   
a:link {
	color: #fa00ff;
	margin-right: auto;
	margin-left: auto;
}

a:visited {
	color: #fa00ff;
	margin-right: auto;
	margin-left: auto;
}

a:hover {
	margin-right: auto;
	margin-left: auto;
	color: #ffff;
	transition-duration: 0.3s;
}
