@font-face {
	font-family: 'NotoSans-Regular';
	src: url('fonts/NotoSans-Regular.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	font-size: 20px;
	background-color: #1b1b2a;
	font-family: "NotoSans-Regular";
	background-image: linear-gradient(to right, #160A33, #46007F);
}

h1 {
	font-size:35px;
	color: white;
	text-align: center;
}

#avatar2 {
	text-align: center;
}

#avatar1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p {
	font-size:20px;
	color: white;
	text-align: center;
}

a:link {
	color: #fa00ff;
	margin-right: auto;
	margin-left: auto;
}

a:visited {
	color: #fa00ff;
	margin-right: auto;
	margin-left: auto;
}

a:hover {
	margin-right: auto;
	margin-left: auto;
	color: #c700ff;
	transition-duration: 0.3s;
}

#lang {
	right: 5px;
    width: 50px;
	bottom: 2px;
	opacity: 50%;
}

#discord-icon {
	left: 5px;
    width: 50px;
	top: 5px;
	color: #758DD8;
}

#twitter-icon {
	left: 65px;
    width: 50px;
	top: 2px;
	color: #0094ff;
}

#reddit-icon {
	left: 125px; 
    width: 50px;
	top: 2px;
	color: #ff6a00;
}

#github-icon {
	width: 50px;
	left: 185px;
	top: 2px;
	color: #b200ff;
    width: 50px;
}

#youtube-icon {
	width: 50px;
    left: 245px;
	top: 2px;
	color: #ff0000;
    width: 50px;
}

#steam-icon {
	width: 50px;
	left: 305px;
	top: 2px;
	color: #7f7f7f;
}

#spotify-icon {
	width: 50px;
	left: 365px;
	top: 2px;
	color: #00ff40;
}

.fa-times-circle {
	color:rgb(255, 0, 242);
	font-size: 30px;
	top: -25px;
	left: 295px;
	position: relative;
	transition-duration: 0.4s;
	cursor: pointer;
}

#discord-icon, 
#twitter-icon, 
#reddit-icon, 
#github-icon, 
#youtube-icon, 
#steam-icon, 
#spotify-icon,
#lang {
	transition-duration: 0.4s;
	position: absolute;
	font-size: 64px;
	cursor: pointer;
}

#discord-icon:hover, 
#twitter-icon:hover, 
#reddit-icon:hover, 
#github-icon:hover, 
#youtube-icon:hover, 
#steam-icon:hover,
#spotify-icon:hover, 
#lang:hover {
	transform: scale(0.92);
	color: white;
}

.fa-times-circle:hover {
	transform: scale(0.92);
	color: white;
}

#avatar1 {
	border-radius: 15px;
	border: 5px solid rgb(255, 0, 242);
	margin-left: auto;
	margin-right: auto;
}

#noscript {
	font-size: 20px;
	text-align: center;
	color: red;
}

#wallpaper {
	margin-right: auto;
	margin-left: auto;
	border-radius: 15px;
}

#wallpaper2 {
	text-align: center;
}

#div1 {
	text-align: center;
	padding-top: 30px;
}

#creations {
	padding-top: 40px;
}

#main3 {
	margin: 2px;
}

#main6 {
	margin: 2px;
}

#modalBg {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 2; /* Sit on top */
	padding-top: 194px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

#modalContent {
	background-color: rgba(0,0,0,0.2);
	margin: auto;
	padding: 20px;
	border: 5px solid rgb(255, 0, 242);
	-webkit-backdrop-filter: blur(10px);
  	backdrop-filter: blur(10px);
	border-radius: 15px;
	width: 300px;
	z-index: 3;
}

body {
	animation-name: fade;
	animation-duration: 1.2s;
}

@keyframes fade {
	0% {
		opacity: 0%;
	}
	25% { 
		opacity: 25%;
	}
	50% {
		opacity: 50%;
	}
	75% {
		 opacity: 75%;
	}
	100% {
		opacity: 100%;
	}
}	